{% extends 'base.html' %} {% block title %}Home Page{% endblock %} {% block
content %}
<body>
  <h2>Welcome to the Home Page!</h2>
  <p>This is some content specific to the home page.</p>
  <div
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    "
  >
    <img
      src="https://media1.tenor.com/m/jUMex_rdqPwAAAAd/among-us-twerk.gif"
      style="width: 100px; height: 100px"
    />
    <a href="{% url 'admin:index' %}">
      <button style="margin-bottom: 20px; background-color: skyblue">
        Admin Page
      </button>
    </a>
    <a href="{% url 'login' %}">
      <button style="margin-bottom: 20px; background-color: skyblue">
        Login Page
      </button>
    </a>
    <a href="{% url 'qr-request' %}">
      <button style="margin-bottom: 20px; background-color: skyblue">
        QR Request Page
      </button>
    </a>
    <a href="/items">
      <button style="margin-bottom: 20px; background-color: skyblue">
        Item List
      </button>
    </a>
  </div>
</body>
{% endblock %}
