Django==5.1.6
djangorestframework
psycopg2
django-debug-toolbar
django-cloudinary-storage
cloudinary
uuid
social-auth-app-django
social-auth-app-django-mongoengine
djangorestframework-simplejwt
pyscript
requests
qrcode[pil]
